#backgroud-clor{
  background-color: rgb(162, 204, 183);
}
#sliders {
  height: 400px;
  width: 60%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.gallery-header {
  display: none;
}

.slider-item {
  display: none;
}

.img-thumbnail {
  cursor: pointer;
}

.added {
  border: 5px solid #0905ec;
  border-radius: 8px;
}

img {
  height: 450px;
  object-fit: cover;
}

.prev-next {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
}

.prev, .next {
  background-color: transparent;
  padding: 8px 10px;
  color: #fff;
}

.spot {
  background-color: rgb(214, 201, 201);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 3px;
}

.main {
  display: none;
}

@media (max-width: 767px) {
  .justify-content-around.align-items-center.mt-3.gallery-header.mb-2 {
    flex-direction: column;
  }
  #sliders {
    height: 300px;
    width: 90%;
  }
}